<mat-toolbar class="comics-toolbar">
  <span>Comics</span>
  <span class="spacer"></span>
  <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/marvel-logo.png" alt="Marvel Logo" class="marvel-logo">
  <span class="spacer"></span>
  <button mat-button class= "button" [routerLink]="['/favorites']">Favoritos</button>
  <button mat-button class= "button" [routerLink]="['/login']">Salir</button>
  <img src="https://cdn.marvel.com/content/1x/034wlv_com_crd_01.jpg" alt="User Logo" class="user-logo">
  <span>{{ userName }}</span>
</mat-toolbar>

<div class="comics-list">
  <mat-card *ngFor="let comic of comics" class="comic-card">
    <mat-card-header class="comic-card-header my-1">
      <mat-card-title class="comic-card-title">{{ comic.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="comic.image" alt="{{ comic.title }}">
    <mat-card-content>
      <p>{{ comic.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addToFavorites(comic)">Añadir a Favoritos</button>
      <button mat-button [routerLink]="['/comics', comic.id]">Ver Detalles</button>
    </mat-card-actions>
  </mat-card>
</div>
